body {
    background-color: #8B2E5F; /* rosa */
    background-color: #EC731A; /* orange */
    background-color: #109385; /* turkos */
    font-family: 'Raleway', sans-serif;
    line-height: 150%;
}

header {
    width: 1000px;
    height: 60px;
    margin-bottom: 40px;
    border-bottom: 10px solid #BB4D87;
}

#container {
    width: 1000px;
    background-color: #FFFFFF;
    margin: 10px auto;
    padding: 20px;
    overflow: auto;
    -webkit-box-shadow: 5px 5px 5px 5px #3A5351;
    box-shadow: 5px 5px 5px 5px #3A5351;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

nav {
    float: left;
    width: 145px;
}

main {
    width: 560px;
    float: left;
    margin-left:65px;
}

aside {
    width: 165px;
    height: 850px;
    float: right;
    padding: 5px;
    border: 1px solid #BB4D87;
    text-align: center;
}

footer {
    width: 1000px;
    float: left;
    font-size: 0.8em;
    color: #109385;
    text-align: center;
}

#hcard {
    width: 350px;
    border: 1px solid #BB4D87;
    background-color: #ECECEC;
    margin: 10px auto;
    padding: 10px;
}