{"changed":true,"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":14},"end":{"row":1,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"value":".c9/\n.c9-revisions/","undoManager":{"mark":0,"position":-1,"stack":[]},"timestamp":1410177214857}